body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font-family: inherit;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  border: none;
  border-radius: 0;
  display: inline-block;
  padding: 3px 17px;
}

.btn-blue {
  color: #ffffff;
  background-color: #81b3d2;
}

.btn-blue:hover,
.btn-blue:focus {
  background-color: #669ec0;
}

.btn-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.btn-brown {
  color: #ffffff;
  background-color: #766357;
}

.btn-brown:hover,
.btn-brown:focus {
  background-color: #604e43;
}

.btn-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.btn-white {
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active {
  color: #000000;
  background-color: #ffffff;
  outline: none;
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.2;
  background-color: #333333;
}

.search .button {
  width: 568px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.enter {
  color: #ffffff;
  background-color: #788997;
  background-image:
    url("../img/index/bg-shape.png"),
    url("../img/index/bg.jpg");
  background-size: 100% 57px, 100% auto;
  background-position: 50% bottom, 0 28%;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
  min-height: 508px;
  margin-bottom: 60px;
}

.enter img {
  padding-top: 76px;
  margin: 0 auto;
}

.main-navigation {
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
  outline: none;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.sorting-items {
  list-style: none;
}

.sorting-items a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  font-size: 12px;
  line-height: 18px;
}

.sorting-items a:hover,
.sorting-items a:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-items .active {
  border-bottom: none;
  color: #81b3d2;
}

.sorting-items a:active {
  color: #000000;
  border-bottom: none;
}

.features-list,
.features-inner-list {
  list-style: none;
}

.features-item,
.features-inner-item {
  text-align: center;
  color: #333333;
}

.features-list h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  margin-top: 45px;
  margin-bottom: 25px;
}

.features-item-blue-block h3 {
  margin-right: 25%;
  margin-left: 25%;
}

.features-item-blue-block p {
  margin: 0 12%;
  margin-top: 20px;
  margin-bottom: 60px;
}

.features-item-grey-block h3 {
  margin-right: 30%;
  margin-left: 30%;
}

.features-item-grey-block p {
  margin: 0 15%;
  margin-top: 20px;
  margin-bottom: 60px;
}

.white,
.white h3 {
  color: #ffffff;
}

.features-inner-list h4 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  margin: 0px;
  margin-top: 160px;
  margin-bottom: 25px;
  position: relative;
}

.features-inner-list p {
  margin: 0 12.5%;
  margin-bottom: 80px;
}

.housing>h4::before {
  content: url("../img/index/housing.svg");
  position: absolute;
  bottom: 47px;
  left: 40%;
}

.food>h4::before {
  content: url("../img/index/food.svg");
  position: absolute;
  bottom: 47px;
  left: 40%;
}

.presents>h4::before {
  content: url("../img/index/presents.svg");
  position: absolute;
  bottom: 47px;
  left: 42%;
}

.search-item input {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 26px;
  color: #000000;
  height: 38px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.search-item input:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.search-item input:focus {
  background-color: transparent;
  border: 2px solid #e5e5e5;
  outline: none;
}

.search-filters {
  color: #ffffff;
  background-color: #556673;
  background-image: url("../img/hotels/bg-hotels.jpg");
  background-size: cover;
  background-position: 40% 50%;
  background-repeat: no-repeat;
}

.search-filters-form h3 {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

.search-filters-value h3 {
  margin-bottom: 8px;
}

.search-results-item-block>a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.search-results-item-block>a:hover,
.search-results-item-block>a:focus {
  color: #81b3d2;
}

.search-results-item-block>a:active {
  color: rgba(0, 0, 0, 0.3);
}

.search-results-item-controls {
  margin: 0;
  padding: 0;
}

.features {
  margin-bottom: 50px;
}

.features-lead {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  padding: 0 30%;
  margin: 0;
  margin-bottom: 27px;
}

.features-reasons {
  line-height: 26px;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 52px;
}

.search {
  text-align: center;
}

.search-lead {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
}

.search-info {
  line-height: 24px;
  padding: 0;
  margin: 0;
  margin-bottom: 47px;
}

.search-results-quantity span {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.search-results-sorting span {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
}

.main-footer {
  color: #000000;
  background-color: rgba(255, 255, 255, 0.9)
}

.footer-social {
  list-style: none;
}

.footer-social .twitter {
  background-image: url("../img/icons/twitter.svg");
  background-size: 17px 15px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #81b3d2;
}

.footer-social .facebook {
  background-image: url("../img/icons/facebook.svg");
  background-size: 12px 22px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #81b3d2;
}

.footer-social .youtube {
  background-image: url("../img/icons/youtube.svg");
  background-size: 20px 16px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #81b3d2;
}

.footer-social a:hover,
.footer-social a:focus {
  background-color: #669ec0;
}

.footer-social .twitter:active {
  background-image: url("../img/icons/twitter-active.svg");
  background-size: 17px 15px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #5496bd;
}

.footer-social .facebook:active {
  background-image: url("../img/icons/facebook-active.svg");
  background-size: 12px 22px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #5496bd;
}

.footer-social .youtube:active {
  background-image: url("../img/icons/youtube-active.svg");
  background-size: 20px 16px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #5496bd;
}

.footer-copyright a {
  display: block;
  width: 116px;
  height: 42px;
  background-image: url("../img/logo-htmlacademy.svg");
  background-size: 116px;
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  background-image: url("../img/logo-htmlacademy-focus.svg");
}

.footer-copyright a:active {
  background-image: url("../img/logo-htmlacademy-active.svg");
}

.footer-copyright span {
  line-height: 26px;
  margin-right: 8px;
}

/* ----------Сеточные стили---------- */

html {
  background-color: #f2f2f2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-header-logo {
  width: 138px;
  height: 70px;
  z-index: 10;
}

.site-navigation {
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 6%;
  margin-top: -70px;
  height: 56px;
}

.site-navigation li {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
  width: 20%;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
  padding-left: 3%;
}

.site-navigation li:nth-child(3) {
  text-align: right;
  margin-left: auto;
  padding-right: 3%;
}

.site-navigation li:nth-child(4) {
  text-align: right;
}

.features-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.features-item {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 256px;
  flex-grow: 1;
  align-self: stretch;
}

.features-item-blue-block {
  background-color: #81b3d2;
  width: 33%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-height: 256px;
}

.features-item-grey-block {
  background-color: #ededed;
  width: 400px;
  min-width: 256px;
  outline:1px solid red;
}

@media screen and (min-width: 1106px) and (max-width: 1250px) {
  .features-item-grey-block {
  width: 100%;
  flex-grow: 1;
  }
  }

@media screen and (min-width: 256px) and (max-width: 1105px) {
  .features-item-grey-block {
  width: 256px;
  flex-grow: 1;
  }
  }

.features-item-img-wrapper {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  overflow: hidden;
  width: 66%;
  max-height: 256px;
  position: relative;
}

.features-item-img {
  margin-top: -10%;
}

.features-inner-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 330px;
  background-color: #ffffff;
}

.features-inner-item {
  width: 100%;
}

.map {
  position: relative;
  margin-bottom: -120px;
  max-width: 1200px;
}

.map-image {
  background-image: url("../img/index/map.jpg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  min-height: 593px;
  background-color: #dde6c8;
}

.map iframe {
  position: absolute;
  width: 100%;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 33px 6%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 3;
  position: relative;
}

.main-footer p {
  margin: 0;
  padding: 0;
}

.footer-info {
  margin-right: auto;
  min-width: 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-social {
  margin: 0;
  padding: 0;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
}

.footer-social li {
  margin-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.footer-social li:last-child {
  margin-right: 0;
}

.footer-copyright {
  min-width: 24%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-filters-form {
  margin: 0;
  padding: 28px 6% 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  min-height: 218px;
}

.search-filters-infrastructure {
  width: 240px;
}

.search-filters-housing {
  width: 240px;
  margin-left: 15px;
}

.search-filters-value {
  margin-left: auto;
}

.infrastructure-item,
.housing-item {
  margin: 0;
  padding: 0;
  margin-top: 23px;
}

.infrastructure-item label,
.housing-item label {
  vertical-align: middle;
}

.search-results-header {
  margin: 0;
  padding: 30px 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
}

.search-results-quantity {
  margin: 0;
  margin-right: 48px;
  padding: 0;
}

.search-results-sorting {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60%;
}

.search-results-sorting span {
  margin: 0;
  padding: 0;
  margin-right: 25px;
}

.sorting-items {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.sorting-items li {
  padding: 0 15px;
}

.search-results-pagging {
  margin-left: auto;
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
}

.arrow {
  display: inline-block;
  margin: 0 2px;
  vertical-align: baseline;
}

.arrow::before {
  content: "";
  border-color: #cacaca;
  border-style: solid;
  border-width: 10px;
  border-right-width: 6px;
  border-left-width: 6px;
  border-right-color: transparent;
  border-left-color: transparent;
  display: inline-block;
  vertical-align: baseline;
}

.arrow-up::before {
  border-top-width: 0;
}

.arrow-down::before {
  border-bottom-width: 0;
}

.arrow:hover::before,
.arrow:focus::before {
  content: "";
  border-color: #231f20;
  border-style: solid;
  border-width: 10px;
  border-right-width: 6px;
  border-left-width: 6px;
  border-right-color: transparent;
  border-left-color: transparent;
  display: inline-block;
  vertical-align: baseline;
}

.arrow-up:hover::before,
.arrow-up:focus::before {
  border-top-width: 0;
}

.arrow-down:hover::before,
.arrow-down:focus::before {
  border-bottom-width: 0;
}

.arrow:active::before {
  content: "";
  border-color: #81b3d2;
  border-style: solid;
  border-width: 10px;
  border-right-width: 6px;
  border-left-width: 6px;
  border-right-color: transparent;
  border-left-color: transparent;
  display: inline-block;
  vertical-align: baseline;
}

.arrow-up:active::before {
  border-top-width: 0;
}

.arrow-down:active::before {
  border-bottom-width: 0;
}

.active>.arrow::before {
  content: "";
  border-color: #81b3d2;
  border-style: solid;
  border-width: 10px;
  border-right-width: 6px;
  border-left-width: 6px;
  border-right-color: transparent;
  border-left-color: transparent;
  display: inline-block;
  vertical-align: baseline;
  cursor: default;
}

.active>.arrow-down::before {
  border-bottom-width: 0;
}

.active>.arrow-up::before {
  border-bottom-width: 0;
}

.search-results-item {
  margin: 0;
  padding: 25px 6% 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

.search-results-item-img {
  margin-right: 30px;
  -ms-flex-item-align: end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

.search-results-item-block {
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

.search-results-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 7px;
  margin-bottom: 14px;
}

.search-results-item-info .type {
  width: 45%;
}

.search-results-item-info .price {
  width: 55%;
}

.search-results-item-controls a.button {
  margin-right: 2px;
}

.search-results-item-rating {
  margin-left: auto;
}

.search-results-item-rating .stars {
  margin: 0;
  margin-bottom: 46px;
  padding: 0;
  height: 20px;
  background-image: url("../img/icons/ic-star.svg");
  background-position: bottom right;
  background-size: 20px 20px;
  background-repeat: space;
}

.search-results-item-rating .four {
  width: 88px;
  margin-left: auto;
}

.search-results-item-rating .three {
  width: 66px;
  margin-left: auto;
}

.search-results-item-rating .two {
  width: 44px;
  margin-left: auto;
}

.search-results-item-rating .mark {
  margin: 0;
  padding: 3px 14px;
  color: #666666;
  text-align: center;
  background-color: #f2f2f2;
}

/* ---------------- Form ------------- */

.modal {
  color: #000000;
  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
  z-index: 2;
}

@keyframes bounce {
  0%   { transform: translateY(-70px);}
  70%  { transform: translateY(30px);   }
  90%  { transform: translateY(-10px);  }
  100% { transform: translateY(0);    }
}

@keyframes shake {
  0%, 100% { transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px);}
  20%, 40%, 60%, 80% { transform: translateX(10px);}
}

.modal-search {
  width: 568px;
  padding: 55px;
  position: absolute;
  left: 50%;
  margin-left: -284px;
  display: block;

  animation-name: bounce;
  animation-duration: 0.6s;
}

.modal-show {
  display: none;
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.6s;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 458px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.search-item:last-of-type {
  margin-bottom: 0;
}

.half-width {
  width: 226px;
}

.search-item label {
  line-height: 26px;
  font-weight: 700;
  margin-right: auto;
}

.search-item:nth-child(4) label {
  margin-left: 47px;
}

.search-item .search-date {
  padding: 4px 5px 4px 10px;
  width: 306px;
}

.search-item .search-amount {
  padding: 4px 5px 4px 13px;
  width: 38px;
}

.search-item .btn-calendar {
  background-image: url("../img/icons/ic-calendar.svg");
  background-size: 21px 22px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
}

.search-item .btn-calendar:hover,
.search-item .btn-calendar:focus {
  background-image: url("../img/icons/ic-calendar-hover.svg");
}

.search-item .btn-calendar:active {
  background-image: url("../img/icons/ic-calendar-active.svg");
  outline: none;
}

.search-item .btn-minus {
  background-image: url("../img/icons/ic-minus.png");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
}

.search-item .btn-minus:hover,
.search-item .btn-minus:focus {
  background-image: url("../img/icons/ic-minus-hover.png");
}

.search-item .btn-minus:active {
  background-image: url("../img/icons/ic-minus-active.png");
  outline: none;
}

.search-item .btn-plus {
  background-image: url("../img/icons/ic-plus.png");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
}

.search-item .btn-plus:hover,
.search-item .btn-plus:focus {
  background-image: url("../img/icons/ic-plus-hover.png");
}

.search-item .btn-plus:active {
  background-image: url("../img/icons/ic-plus-active.png");
  outline: none;
}

.search-item .btn-blue {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 15px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-top: 23px;
}

.social-btn {
  width: 46px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.infrastructure-checkbox,
.housing-checkbox {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.infrastructure-checkbox input[type="checkbox"]+.checkbox-indicator,
.housing-checkbox input[type="checkbox"]+.checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/icons/checkbox-off.svg");
  background-size: 23px 23px;
  background-repeat: no-repeat;
}

.infrastructure-checkbox input[type="checkbox"]:focus+.checkbox-indicator,
.housing-checkbox input[type="checkbox"]:focus+.checkbox-indicator {
  outline: thin dotted;
}

.infrastructure-checkbox input[type="checkbox"]:checked+.checkbox-indicator,
.housing-checkbox input[type="checkbox"]:checked+.checkbox-indicator {
  background-image: url("../img/icons/checkbox-on.svg");
  background-size: 27px 23px;
  background-repeat: no-repeat;
}

.price-controls {
  margin: 0;
  padding: 0;
  height: 36px;
  width: 318px;
  font-size: 0;
  position: relative;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
  margin-bottom: 20px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  text-align: center;
  width: 50%;
}

.price-controls input {
  width: 60px;
  height: 34px;
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background: none;
  border: none;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.range-controls {
  position: relative;
  margin-bottom: 33px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 22px;
  height: 24px;
  background-image: url("../img/icons/bt-filter.svg");
  background-size: 20px 23px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

.range-toggle:hover {
  background-image: url("../img/icons/bt-filter-hover.svg");
  background-size: 22px 24px;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 79%;
}

.btn-white {
  display: block;
  margin-left: 85px;
  padding: 6px 34px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
