body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

a.arrow {
  display: inline-block;
  margin: 0 10px;
}

.arrow::before {
  content: "";
  border: 12px solid #cacaca;
  border-right-width: 6px;
  border-left-width: 6px;
  border-right-color: transparent;
  border-left-color: transparent;
  display: inline-block;
}

.arrow-up::before {
  border-top-width: 0;
}

.arrow-down::before {
  border-bottom-width: 0;
}

.button {
  font-family: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  border: none;
  border-radius: 0;

  /* display: inline-block; */
  padding: 5px 15px;
  /* margin-right: 2px; */
}

.btn-blue {
  color: #ffffff;
  background-color: #81b3d2;
}

.btn-blue:hover,
.btn-blue:focus {
  background-color: #669ec0;
}

.btn-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.btn-brown {
  color: #ffffff;
  background-color: #766357;
}

.btn-brown:hover,
.btn-brown:focus {
  background-color: #604e43;
}

.btn-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.btn-white {
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active {
  color: #000000;
  background-color: #ffffff;
  outline: none;
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.2;
  background-color: #333333;
}

.search .button {
  width: 568px;
  padding-top: 30px;
  padding-bottom: 30px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.enter {
  color: #ffffff;
  background-color: #788997;
  background-image:
    url("../img/index/bg-shape.png"),
    url("../img/index/bg.jpg");
  background-size: 100% 57px, 100% auto;
  background-position: 50% bottom, 0 28%;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
  min-height: 508px;

  margin-bottom: 60px;
}

.enter img {
  padding-top: 76px;
  margin: 0 auto;
}

.main-navigation {
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a{
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
  outline: none;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.sorting-items {
  list-style: none;
}

.sorting-items a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  font-size: 12px;
  line-height: 18px;
}

.sorting-items a:hover,
.sorting-items a:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-items a:active {
  color: #000000;
  border-bottom: none;
}

.features-list,
.features-inner-list {
  list-style: none;
}

.features-item,
.features-inner-item {
  text-align: center;
  color: #333333;
}

.features-list h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;

  margin: 0;
  margin-top: 45px;
  margin-bottom: 25px;

  outline: 1px solid #666666;
}

.features-item-blue-block h3 {
  margin-right: 25%;
  margin-left: 25%;
}

.features-item-blue-block p {
  margin: 0 12.5%;
  margin-top: 20px;
}

.features-item-grey-block h3{
  margin-right: 30%;
  margin-left: 30%;
}

.features-item-grey-block p {
  margin: 0 12.5%;
  margin-top: 20px;
}

.white,
.white h3 {
  color: #ffffff;
}

.features-inner-list h4{
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;

  margin: 0px;
  margin-top: 160px;
  margin-bottom: 25px;

  position: relative;
}

.features-inner-list p {
  margin: 0 12.5%;
}

.housing > h4::before {
  content: url("../img/index/housing.svg");
  position: absolute;
  bottom: 47px;
  margin-left: -3px;
}

.food > h4::before {
  content: url("../img/index/food.svg");
  position: absolute;
  bottom: 47px;
  margin-left: -18px;
}

.presents > h4::before {
  content: url("../img/index/presents.svg");
  position: absolute;
  bottom: 47px;
  margin-left: 19px;
}

.search-item input {
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.search-item input:hover {
  background-color: #ebebeb;
}

.search-item input:focus {
  background-color: transparent;
  border: 2px solid #e5e5e5;
  outline: none;
}

.search-filters {
  color: #ffffff;
  background-color: #556673;
  background-image: url("../img/hotels/bg-hotels.jpg");
  background-position: 0 50%;
  background-repeat: no-repeat;
}

.search-filters h3 {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.value-item input{
  font-family: inherit;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
}

.search-results-item h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.features {
  margin-bottom: 50px;
}

.features-lead {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  vertical-align: middle;

  padding: 0;
  margin: 0;
  margin-bottom: 27px;
  outline: 1px solid #e47813;
}

.features-reasons {
  line-height: 26px;
  text-align: center;

  padding: 0;
  margin: 0;
  margin-bottom: 52px;
  outline: 1px solid #e47813;
}

.search {
  text-align: center;
}

.search-lead {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;

  padding: 0;
  margin: 0;
  margin-bottom: 23px;
}

.search-info {
  line-height: 24px;

  padding: 0;
  margin: 0;
  margin-bottom: 47px;
}

.search-results-quantity span{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.search-results-sorting span {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
}

.main-footer {
  color: #000000;
  background-color: rgba(255, 255, 255, 0.9)
}

.footer-social {
  list-style: none;
}

.footer-social .twitter {
  background-image: url("../img/icons/twitter.svg");
  background-size: 17px 15px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #81b3d2;
}

.footer-social .facebook {
  background-image: url("../img/icons/facebook.svg");
  background-size: 12px 22px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #81b3d2;
}

.footer-social .youtube {
  background-image: url("../img/icons/youtube.svg");
  background-size: 20px 16px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #81b3d2;
}

.footer-social a:hover,
.footer-social a:focus {
  background-color: #669ec0;
}

.footer-social .twitter:active {
  background-image: url("../img/icons/twitter-active.svg");
  background-size: 17px 15px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #5496bd;
}

.footer-social .facebook:active {
  background-image: url("../img/icons/facebook-active.svg");
  background-size: 12px 22px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #5496bd;
}

.footer-social .youtube:active {
  background-image: url("../img/icons/youtube-active.svg");
  background-size: 20px 16px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #5496bd;
}

.footer-copyright a {
  background-image: url("../img/logo-htmlacademy.svg");
  background-size: 116px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  background-image: url("../img/logo-htmlacademy-focus.svg");
  background-size: 116px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-copyright a:active {
  background-image: url("../img/logo-htmlacademy-active.svg");
  background-size: 116px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-copyright span {
  line-height:  26px;
  margin-right: 8px;
  margin-left: auto;
}

/* ----------Сеточные стили---------- */
html {
  background-color: #f2f2f2;
  box-sizing: border-box;
}

html,
body {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header-logo {
  width: 138px;
  height: 70px;

  outline: 1px solid cornflowerblue;
}

.site-navigation {
  margin: 0;
  padding: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 6%;
  margin-top: -70px;
  height: 56px;

  outline: 1px solid fuchsia;
}

.site-navigation li {
  align-self: center;
  width: 20%;

  outline: 1px solid rgb(233, 14, 233);
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
  padding-left: 3%;
}

.site-navigation li:nth-child(3) {
  text-align: right;
  margin-left: auto;
  padding-right: 3%;
}

.site-navigation li:nth-child(4) {
  text-align: right;
}

.features-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.features-item {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  flex-wrap: wrap;

  min-height: 256px;
  outline: 1px solid #9f36db;
}

.features-item-blue-block {
  background-color: #81b3d2;
  width: 33%;
  flex-grow: 1;
  min-height: 256px;
}

.features-item-grey-block {
  background-color: #ededed;
  /* min-width: 256px; */

  width: 100%;
}

.features-item-img-wrapper {
  flex-grow: 2;
  overflow: hidden;
  width: 66%;
  max-height: 256px;
  position: relative;
}

.features-item-img {

}

.features-inner-list {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  min-height: 330px;
  background-color: #ffffff;
}

.features-inner-item {
  width: 100%;

  outline: 1px solid #e47813;
}

.map {
  margin-bottom: -120px;
}

.map-image {
  background-image: url("../img/index/map.jpg");
  background-position: 50% 100%;
  background-repeat: no-repeat;

  min-height: 593px;
}

.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 36px 6%;
  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer p {
  margin: 0;
  padding: 0;
}

.footer-info {
  margin-right: auto;
  min-width: 24%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  outline: 1px solid #e47813;
}

.footer-social {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 150px;

  outline: 1px solid #e47813;
}

.footer-copyright {
  margin-left: auto;
  min-width: 24%;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  outline: 1px solid #e47813;
}

.footer-logo {
  display: flex;
  justify-content: center;

  width: 116px;
  height: 42px;
  margin-right: auto;

  outline: 1px solid #e4139e;
}

.search-filters-form {
  margin: 0;
  padding: 30px 6%;
  display: flex;
  justify-content: space-between;

  min-height: 218px;
}

.search-filters-infrastructure {
  width: 240px;
  outline: 1px solid #e47813;
}

.search-filters-housing {
  width: 240px;
  outline: 1px solid #e47813;
}

.search-filters-value {
  margin-left: auto;
  outline: 1px solid #e47813;
}

.search-results-header {
  margin: 0;
  padding: 30px 6%;
  display: flex;
  justify-content: space-between;

  min-height: 86px;
  border-bottom: 1px solid #e5e5e5;
}

.search-results-quantity {
  margin-right: 30px;
  padding: 0;
  width: 135px;

  outline: 1px solid #e47813;
}

.search-results-sorting {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  outline: 1px solid #e47813;
}

.sorting-items {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.search-results-pagging {
  margin-left: auto;
  align-self: center;
  outline: 1px solid #e47813;
}

.search-results-item {
  margin: 0;
  padding: 30px 6%;
  display: flex;
  align-items: center;

  border-bottom: 1px solid #e5e5e5;
}

.search-results-item-img {
  margin-right: 30px;
}

.search-results-item-block {
  outline: 1px solid #e47813;
}

.search-results-item-rating {
  margin-left: auto;

  outline: 1px solid #e47813;
}

/* ---------------- Form ------------- */

.modal-search {
  display: none;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-item {
  width: 458px;
  position: relative;

  margin: 0;
  outline: 1px solid #0cbd0c;
}

.search-item .btn-blue {
  width: 100%;
  padding-top: 17px;
  padding-bottom: 16px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  margin-top: 55px;
}

.search-item label {
  line-height: 26px;
  font-weight: 700;

  margin-right: 20px;
}

.search-item input {
  padding: 12px 12px 10px 12px;
}

.social-btn {
  width: 46px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;
}

